.footer-container {
  /* border: 2px solid black; */
  height: 20vw;
  /* position: fixed;
  bottom: 0; */
  width: 100vw;
  margin-top: 7vw;
}

.footer-description {
  /* border: 2px solid black; */
  width: 60vw;
  color: white;
  text-align: center;
  position: relative;
  top: -3vw;
  left: 20vw;
  font-style: italic;
  font-size: 3.9vw;
  padding-bottom: 0.9vw;
}

.footer-image-container {
  /* border: 2px solid black; */
  height: 11vw;
  width: 40vw;
  position: relative;
  top: -6.5vw;
  left: 32vw;
}
.footerImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
