.loggedIn-container {
  /* border: 2px solid black; */
  height: calc(100vh - 45vw - 20vw);
}
.login-img-container {
  /* border: 2px solid black; */
  margin-top: 10vw;
  margin-left: 10vw;
  height: 25vw;
  width: 25vw;
  border-radius: 5vw;
  border: none;
}
.user-profile-img {
  height: 100%;
  width: 100%;
  border-radius: 5vw;
  object-fit: cover;
}
.login-msg-container {
  /* border: 2px solid black; */
  margin-top: 7vw;
  margin-left: 6vw;
  width: 90vw;
}
.name-description {
  color: white;
  /* border: 2px solid black; */
  font-size: 5.5vw;
}
.login-msg-description {
  color: white;
  /* border: 2px solid black; */
  margin-bottom: 5vw;
  font-size: 3.6vw;
  margin-top: 1vw;
}
