.main-logo-container {
  /* border: 2px solid red; */
  height: 30vw;
  width: 100vw;
  position: absolute;
  top: 7vw;
  left: 0;
  display: flex;
  justify-content: center;
}
.logo-containing-div {
  /* border: 2px solid green; */
  height: 100%;
  width: 30vw;
}
